body {
    background-color: rgb(255, 235, 205);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;

}

#nav {
    padding: 30px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userInfo {
    padding: 30px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userEntries {
    padding: 30px;
    background-color: rgb(255, 235, 205);
    display: flex;
    justify-content: center;
    align-items: center;
}

#clearButton {
    margin: 30px;
    background-color: rgb(159, 173, 230);
    display: flex;
    justify-content: center;
    align-items: center;
}

#filterDiv {
    padding: 30px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}

#filter {
    width: 220px;
}

#filterContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}